---
layout: default
title: Microblog
permalink: /microblog/
pagination:
  enabled: true
  collection: posts
  category: microblog
  per_page: 10
---

<h1 class="page-title">{{ page.title }}</h1>

 <li class="post-item">
          <a href="{{ post.url | relative_url }}" class="post-link">
            <span class="post-title">{{ post.title }}</span>
            <time class="post-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %d" }}</time>
          </a>
        </li>

{% assign microblogs = site.posts | where_exp: "post", "post.categories contains 'microblog'" %}
{% include post-list-title-only.html posts=paginator.posts %}
{% include pagination.html %}

<!-- Microblog 页面 -->

